{% extends 'base.html.twig' %}

{% block title %}Porfolio Thibault Delgrande{% endblock %}

{% block main %}
<h1 class="m-5 pt-5">Portfolio Thibault Delgrande</h1>
<div id="plateformes" class="m-5 d-flex justify-content-center align-self-center">
    {% for platform in platforms %}
        <a class="plateforme" href="{{platform.link}}">
            <img src="{{vich_uploader_asset(platform)}}" alt="{{platform}}">
        </a>
    {% endfor %}
</div>
<h2 class="m-5 pt-2">Jeux</h2>
<div id="jeux" class="m-5 d-flex align-self-center">
    {% for game in games %}
        <div class="projet">
            <img src="{{vich_uploader_asset(game.project)}}" alt="{{game.project}}">
        </div>
    {% endfor %}
</div>
<h2 class="m-5 pt-2">Musique</h2>
<div id="musiques" class="m-5 d-flex align-self-center">
    {% for album in albums %}
        <div class="projet">
            <img src="{{vich_uploader_asset(game.project)}}" alt="{{game.project}}">
        </div>
    {% endfor %}
</div>
{% endblock %}
