<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="
        {% block description %}
            Site portfolio de Thibault Delgrande, artiste musical, developpeur web junior, créateur de jeux vidéos et bien d'autres choses.
        {% endblock %}">
        <link rel="icon" href="/favicon.ico">

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="ms-4">
        <header class="position-absolute top-0 end-0 m-4">
            {% block header %}
                {% if app.user %}
                    Bienvenue {{ app.user }} !
                    {% if "ROLE_ADMIN" in app.user.roles %}
                        <a href="{{ path("admin")}}">Administration</a>
                    {% endif %}
                    <a href="{{ path("app_logout")}}">Déconnexion</a>
                {% else %}
                    {#<a href="{{ path("app_login")}}">Connexion</a>
                    <a href="{{ path("app_register")}}">Inscription</a>#}
                {% endif %}
            {% endblock %}
        </header>
        {% block main %}{% endblock %}
    </body>
</html>
